<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SUSHEE</title>

        <link rel="stylesheet" href="admin-reservation-management.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>

    <body>
        <div data-page="header"></div>

        <div class="banner banner-big">Reservation Management</div>

        <div class="content">
            <a href="reservation-date.html" class="button button-secondary"
                >+ Add Reservation</a
            >
            <table class="reservation-management">
                <tr>
                    <th>User</th>
                    <th>Date</th>
                    <th>Table</th>
                    <th>Detail</th>
                </tr>
                <tr>
                    <td>Alfreds</td>
                    <td>16 Feb 21, 17.30</td>
                    <td>06</td>
                    <td>detail</td>
                </tr>
                <tr>
                    <td>Berglunds</td>
                    <td>16 Feb 21, 17.30</td>
                    <td>05</td>
                    <td>detail</td>
                </tr>
                <tr>
                    <td>Centro Moctezuma</td>
                    <td>16 Feb 21, 17.30</td>
                    <td>02</td>
                    <td>detail</td>
                </tr>
                <tr>
                    <td>Ernst Handel</td>
                    <td>16 Feb 21, 17.30</td>
                    <td>08</td>
                    <td>detail</td>
                </tr>
            </table>

            <a href="admin.html" class="button button-primary">Save Changes</a>
            <a href="admin.html" class="button button-secondary">Cancel</a>
        </div>

        <div data-page="footer"></div>
    </body>
</html>
