<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SUSHEE</title>

        <link rel="stylesheet" href="admin.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>

    <body>
        <div data-page="header"></div>

        <div class="banner banner-big">Welcome, Avi</div>
        <div class="content">
            <div class="admin">
                <div class="admin-title">Admin Menu</div>
                <div>
                    <a href="admin-purchase-history.html" class="admin-menu"
                        >Purchase History</a
                    >
                    <a href="admin-manage-table.html" class="admin-menu"
                        >Manage Table</a
                    >
                    <a href="admin-manage-reservation.html" class="admin-menu"
                        >Manage Reservation</a
                    >
                    <a href="admin-manage-menu.html" class="admin-menu"
                        >Manage Menu Item</a
                    >
                    <a href="admin-manage-administrator.html" class="admin-menu"
                        >Manage Administrator</a
                    >
                </div>
            </div>
            <a href="login.html" class="button button-primary">Log out</a>
        </div>

        <div data-page="footer"></div>
    </body>
</html>
