@import "style.css";

.reservation-management {
    border-collapse: collapse;
    width: 100%;
    margin: 30px 0 40px;
}

.reservation-management td,
.reservation-management th {
    border: 1px solid #ddd;
    padding: 8px;
}

.reservation-management tr:nth-child(even) {
    background-color: #f1f1f1;
}

.reservation-management tr:hover {
    background-color: #ddd;
}

.reservation-management th {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    background-color: var(--orange1);
    color: white;
}

/* Pop Up */

.edit:hover,
.change-image:hover {
    font-weight: bold;
    cursor: pointer;
}

.change-image {
    text-align: right;
    color: var(--orange1);
    margin: -5px 0 10px;
}
.menu-description {
    resize: none;
    line-height: var(--line-height);
}
