<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SUSHEE</title>

        <link rel="stylesheet" href="admin-manage-reservation.css" />
        <link rel="stylesheet" href="popup.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>

    <body>
        <div data-page="header"></div>

        <div class="banner banner-big">Reservation Management</div>

        <div class="content">
            <div class="button button-secondary">
                + Add Reservation</div>
            <table class="reservation-management">
                <tr>
                    <th>User</th>
                    <th>Date</th>
                    <th>Table</th>
                    <th>Detail</th>
                </tr>
                <tr>
                    <td>Alfreds</td>
                    <td>16 Feb 21, 17.30</td>
                    <td>06</td>
                    <td class="detail" onclick="openPopup()">Detail</td>
                </tr>
                <tr>
                    <td>Berglunds</td>
                    <td>16 Feb 21, 17.30</td>
                    <td>05</td>
                    <td class="detail" onclick="openPopup()">Detail</td>
                </tr>
                <tr>
                    <td>Centro Mocte</td>
                    <td>16 Feb 21, 17.30</td>
                    <td>02</td>
                    <td class="detail" onclick="openPopup()">Detail</td>
                </tr>
            </table>

            <a href="admin.html" class="button button-primary">Save Changes</a>
            <a href="admin.html" class="button button-secondary">Cancel</a>
        </div>

        <!-- Popup detail -->
        <div class="popup-container">
            <div class="popup" id="popup">
                <div class="popup-header">
                    <img src="sign-x.png" class="popup-close"></img>
                    <div class="popup-header-title">Reservation Detail</div>
                </div>
                <div class="popup-content">
                    <div class="reservation-detail">
                        <div>
                            <div class="category">User</div>
                            <div class="">user@email.com</div>
                        </div>
                        <div>
                            <div class="category">Date</div>
                            <div class="">Sunday, 14 Feb 2021</div>
                        </div>
                        <div>
                            <div class="category">Time</div>
                            <div class="">17.30 WIB</div>
                        </div>
                        <div>
                            <div class="category">Table</div>
                            <div class="">06 (2 Person)</div>
                        </div>
                    </div>
                    
                    <a href="admin-manage-reservation.html" class="button button-approve">
                        Approve reservation</a>
                    <a href="admin-manage-reservation.html" class="button button-deny">
                        Deny reservation</a>
                    
                </div>
            </div>
        </div>

        <script src="popup.js"></script>

        <div data-page="footer"></div>
    </body>
</html>
