<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SUSHEE</title>

        <link rel="stylesheet" href="admin-manage-menu.css" />
        <link rel="stylesheet" href="popup.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>

    <body>
        <div data-page="header"></div>

        <div class="banner banner-big">Menu Management</div>

        <div class="content">
            <div class="button button-secondary add" onclick="openPopup()">
                + Add Menu</div>
            <table class="reservation-management">
                <tr>
                    <th>Menu</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>Salmon Maki Sushi</td>
                    <td>Maki Sushi</td>
                    <td class="edit" onclick="openPopup()">Edit</td>
                </tr>
                <tr>
                    <td>Salmon Maki Sushi</td>
                    <td>Maki Sushi</td>
                    <td class="edit" onclick="openPopup()">Edit</td>
                </tr>
                <tr>
                    <td>Salmon Maki Sushi</td>
                    <td>Maki Sushi</td>
                    <td class="edit" onclick="openPopup()">Edit</td>
                </tr>
            </table>

            <a href="admin.html" class="button button-primary">Save Changes</a>
            <a href="admin.html" class="button button-secondary">Cancel</a>
        </div>


        <!-- Popup detail -->
        <div class="popup-container">
            <div class="popup" id="popup">
                <div class="popup-header">
                    <img src="sign-x.png" class="popup-close"></img>
                    <div class="popup-header-title">Detail Menu</div>
                </div>
                <img
                src="https://images.unsplash.com/photo-1562707786-7d2b807961c4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                class="image-detail"
                />
                
                <div class="popup-content">
                    <div class="change-image">Change image</div>
                    <label class="x">Menu name
                        <input
                            type="text"
                            id="menu-name"
                            placeholder="Menu name"
                            maxlength="30"
                            class="input-text"
                            required
                        />
                    </label>
                    <label class="x">Menu description
                        <textarea
                            id="menu-description"
                            placeholder="Menu description"
                            rows="3"
                            maxlength="100"
                            class="input-text menu-description"
                        ></textarea>
                    </label>
                    
                    <a href="admin-manage-menu.html" class="button button-primary">
                        Save changes</a>
                </div>
            </div>
        </div>

        <script src="popup.js"></script>

        <div data-page="footer"></div>
    </body>
</html>
