<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SUSHEE</title>

        <link rel="stylesheet" href="style.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>

    <body>
        <div data-page="header"></div>

        <div class="image">
            <div class="image-c">
                <img src="profile.png" alt="profile" id="profile" />
            </div>
            <p>user@example.com</p>
        </div>

        <div class="content">
            <div class="column2">
                <h3 class="name">Ardiaf Rizky</h3>
            </div>
            <br>
            <label class="x"
                >Enter Name
                <input type="text" id="r-time" placeholder="Name" />
            <a href="profile.html" class="button primary">Change Name</a>
            <a href="profile.html" class="button secondary">Cancel</a>
        </div>

        <div data-page="footer"></div>
    </body>
</html>
