<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SUSHEE</title>

        <link rel="stylesheet" href="profile.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>

    <body>
        <div data-page="header"></div>

        <div class="profile-picture">
            <div>
                <img
                    src="profile.png"
                    alt="profile-picture"
                    id="profile-picture"
                />
            </div>
            <p>user@example.com</p>
        </div>

        <div class="content">
            <label class="x"
                >Current Password
                <input
                    type="text"
                    id="current-pass"
                    placeholder="Current password"
                    class="input-text"
                    required
                />
            </label>
            <label class="x"
                >New Password
                <span style="font-size: 0.8rem; color: #444"
                    >(min 8 alphanumeric characters)</span
                >
                <input
                    type="password"
                    id="new-pass"
                    placeholder="New password"
                    class="input-text"
                    required
                />
            </label>
            <label class="x"
                >Confirm New Password
                <input
                    type="password"
                    id="confirm-pass"
                    placeholder="Confirm new password"
                    class="input-text"
                    required
                />
            </label>
            <a href="profile.html" class="button button-primary"
                >Change Password</a
            >
            <a href="profile.html" class="button button-secondary">Cancel</a>
        </div>

        <div data-page="footer"></div>
    </body>
</html>
