<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SUSHEE</title>

        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="menu.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>

    <body>
        <div data-page="header"></div>

        <div class="content">
            <h1 class="title">
                Welcome to <br />
                Sushee Restaurant
            </h1>
            <h3 class="subtitle">Let the fishes swim in your stomach</h3>
        </div>

        <p class="banner small">
            You have no active reservation. Please make a reservation before
            placing an order
            <a href="reservation-date.html" class="button secondary"
                >Make a reservation</a
            >
        </p>

        <div id="menu"></div>

        <!-- The Modal -->
        <!-- <button id="myBtn">Open Modal</button> -->

        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Modal Header</h2>
                </div>
                <div class="modal-body">
                    <p>Some text in the Modal Body</p>
                    <p>Some other text...</p>
                </div>
                <div class="modal-footer">
                    <h3>Modal Footer</h3>
                </div>
            </div>
        </div>

        <script src="menu.js"></script>

        <div data-page="footer"></div>
    </body>
</html>
