<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SUSHEE</title>

        <link rel="stylesheet" href="menu.css" />
        <link rel="stylesheet" href="popup.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>

    <body>
        <div data-page="header"></div>

        <div class="content">
            <h1 class="title">
                Welcome to <br />
                SUSHEE Restaurant
            </h1>
            <h3 class="subtitle">Let the fishes swim in your stomach</h3>
        </div>

        <div class="banner banner-small">
            You have no active reservation. Please make a reservation before
            placing an order
            <a href="reservation-date.html" class="button button-secondary"
                >Make a reservation</a
            >
        </div>

        <div class="content">
            <div id="menu"></div>
        </div>
        
        <!-- The Modal -->
        <div id="open-popup" onclick="openPopup()">Open Modal</div>

        <div class="popup-container" id="popup-container" >
            <div class="popup" id="popup">
                <div class="popup-header">
                    <img src="sign-x.png" class="popup-close"></img>
                    <div class="popup-header-title">Salmon Nigiri</div>
                </div>
                <img
                    src="https://images.unsplash.com/photo-1562707786-7d2b807961c4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                    class="image-detail"
                />

                <div class="popup-content">
                    <div class="popup-content-title description-title">Description</div>
                    <div class="description">Nasi dengan campuran saripati plum
                        dengan potongan daging salmon segar di atasnya.
                    </div>

                    <div class="popup-content-title quantity-title">Quantity</div>
                    <div class="slider-container">
                        <div class="slider-value-left">1</div>
                        <input type="range" min="1" max="10" value="1" class="slider" id="slider-value">
                        <div class="slider-value-right">10</div>
                    </div>
                    <div class="result-value">Value: <span id="result-value">1</span></div>
                    
                    <a href="reservation-date.html" class="button button-primary"
                        >Add to order queue
                    </a>
                </div>
            </div>
        </div>
        
        
        <script src="menu.js"></script>
        <script src="popup.js"></script>
        
        <div class="banner banner-small about">
            <div class="about-title">About Us</div>
            <p>
                SUSHEE Restaurant merupakan restoran Jepang yang menyediakan 
            berbagai macam sushi dengan bahan segar terbaik. <br><br>
            
            SUSHEE Restaurant mengusung konsep self-service sehingga 
            pelanggan hanya perlu membayar sekali.
             </p>
        </div>
        <div class="content">
            <div class="outlet-title">Explore SUSHEE in Your Area</div>
        <a href="homepage.html" class="button button-secondary" id="find-sushee"
            >Find SUSHEE outlet</a
        >
    </div>

        <div data-page="footer"></div>
    </body>
</html>
