<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        />

        <title>SUSHEE</title>
    </head>
    <body>
        <div class="container">
            <nav>
                <img src="./SUSHEE.png" alt="logo" class="logo" />

                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Reservation</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>

            <h1 class="title">
                Welcome to <br />
                Sushee Restaurant
            </h1>
            <h3 class="subtitle">Let the fishes swim in your stomach</h3>
            <p class="banner small">
                You have no active reservation. Please make a reservation before
                placing an order
                <a href="reservation-date.html" class="button secondary"
                    >Make a reservation</a
                >
            </p>

            <div id="content1"></div>
            <script src="food.js"></script>
        </div>
    </body>
</html>
