<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        />

        <title>SUSHEE</title>
    </head>
    <body>
        <!-- <div class="container"> -->
        <nav>
            <img src="./SUSHEE.png" alt="logo" class="logo" />

            <ul>
                <li><a href="#" class="">Home</a></li>
                <li><a href="#">Reservation</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <p class="banner big">Login</p>

        <div class="content">
            <label class="x"
                >Email
                <input type="text" id="email" placeholder="Email" />
            </label>
            <label class="x"
                >Password
                <input type="password" id="password" placeholder="Password" />
            </label>
            <a href="homepage.html" class="button primary">Login</a>
            <p class="x">No account? Sign up here</p>
            <a href="signup.html" class="button secondary">Sign Up</a>
        </div>
        <!-- </div> -->
    </body>
</html>
