<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SUSHEE</title>

        <link rel="stylesheet" href="style.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>

    <body>
        <div data-page="header"></div>

        <p class="banner big">Please Login to Continue</p>

        <div class="content">
            <label class="x"
                >Email
                <input type="text" id="email" placeholder="Email" />
            </label>
            <label class="x"
                >Password
                <input type="password" id="password" placeholder="Password" />
            </label>
            <a href="homepage.html" class="button primary">Login</a>
            <p class="x">No account? Sign up here</p>
            <a href="signup.html" class="button secondary">Sign Up</a>
        </div>

        <div data-page="footer"></div>
    </body>
</html>
