@import "style.css";

.title {
    margin-bottom: 10px;
    color: var(--orange1);
}

.menu-title {
    margin-bottom: -15px;
    color: var(--orange1);
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-container {
    position: relative;
    z-index: -1;
}

/* .menu-image:hover {
    transition: 0.3s;
    transform: scale(103%);
    opacity: 0.9;
    cursor: pointer;
} */

.menu-category {
    margin-top: 30px;
    font-size: 1.15rem;
}
.menu-image {
    height: 200px;
    width: 100%;
    margin-top: 10px;
    border-radius: var(--bradius);
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.5);
}

.menu-name {
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: white;
}

.about {
    margin-top: 60px;
    text-align: left;
}

.about-title {
    text-align: left;
    margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: bold;
}

.outlet-title {
    text-align: left;
    margin: 40px 0 10px;
    color: var(--orange1);
    font-size: 1.25rem;
    font-weight: bold;
}

#find-sushee {
    margin-bottom: -20%;
}
