<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SUSHEE</title>

        <link rel="stylesheet" href="style.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>

    <body>
        <div data-page="header"></div>

        <p class="banner">
            You have an active reservation. Please scan the barcode below and
            sit on the reserved table
        </p>
        <div class="barcode">
            <img src="qr.png" alt="qr" class="qr" />
            <div class="barcode column">
                <h4>Valid until:</h4>
                <p>Tuesday, 14 Feb 2021</p>
                <p>17.00 WIB</p>
                <p>Reserved for me</p>
            </div>
        </div>
        <p class="banner small">
            You can start ordering after the barcode are validated
        </p>

        <div id="content1"></div>
        <script src="food.js"></script>

        <div data-page="footer"></div>
    </body>
</html>
