@import "style.css";

.barcode {
    display: flex;
    justify-content: center;
    margin: 15px 3% 10px 0;
}

.barcode-right {
    flex-direction: column;
    margin-left: 3%;
    line-height: var(--line-height);
}

.barcode img:hover {
    transition: 0.3s;
    transform: scale(107%);
    cursor: pointer;
}
