<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SUSHEE</title>

        <link rel="stylesheet" href="profile.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>

    <body>
        <div data-page="header"></div>

        <div class="profile-picture">
            <div>
                <img
                    src="profile.png"
                    alt="profile-picture"
                    id="profile-picture"
                />
            </div>
            <a href="">Change picture</a>
        </div>

        <div class="content">
            <div class="profile-name">
                <div>
                    <h3>Ardiaf Rizky</h3>
                    <a href="login.html" class="">Log out</a>
                </div>
                <a href="change-name.html" class="">Change name</a>
            </div>

            <div class="profile-email">
                <div>
                    <p>Email</p>
                    <p>user@example.com</p>
                </div>
                <div class="profile-email-bottom">
                    <p>Password</p>
                    <a href="change-password.html" class="">Change password</a>
                </div>
            </div>

            <h4 class="">Reservation</h4>
            <div class="profile-reservation">
                <div>
                    <h4>Table 06</h4>
                    <h4 class="profile-reservation-status">Approved</h4>
                </div>
                <div class="profile-reservation-bottom">
                    <p>
                        2 Person<br />
                        Tue, 14 Feb 2021<br />
                        17.00 WIB
                    </p>
                    <a href="">See detail</a>
                </div>
            </div>
        </div>

        <div data-page="footer"></div>
    </body>
</html>
