<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SUSHEE</title>

        <link rel="stylesheet" href="style.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>

    <body>
        <div data-page="header"></div>

        <div class="image">
            <div class="image-c">
                <img src="profile.png" alt="profile" id="profile" />
            </div>
            <a href="">Change picture</a>
        </div>

        <div class="content">
            <div class="column2">
                <h3 class="name">Ardiaf Rizky</h3>
                <a href="login.html" class="">Log out</a>
            </div>
            <a href="change-name.html" class="change">Change name</a>

            <div class="email">
                <div class="column2">
                    <p>Email</p>
                    <p>user@example.com</p>
                </div>
                <div class="column2">
                    <p>Password</p>
                    <a href="change-password.html" class="">Change password</a>
                </div>
            </div>

            <p class="">Reservation</p>
            <div class="reservation">
                <div>
                    <h4>Table 06</h4>
                    <br />
                    <p>2 Person</p>
                    <p>Tue, 14 Feb 2021</p>
                    <p>17.00 WIB</p>
                </div>
                <div>
                    <h4>Approved</h4>
                    <br />
                    <br />
                    <br />
                    <a href="">See detail</a>
                </div>
            </div>
        </div>

        <div data-page="footer"></div>
    </body>
</html>
