<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SUSHEE</title>

        <link rel="stylesheet" href="reservation-summary.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>

    <body>
        <div data-page="header"></div>

        <div class="banner banner-big">Reservation Summary</div>

        <div class="content">
            <div class="status-title">Reservation date & time</div>
            <div class="status">
                Sunday, 14 February 2021 <br />
                18.00 WIB - 19.00 WIB
            </div>
            <div class="status-title">Reservation table</div>
            <div class="status">Table 6 (2 Person)</div>

            <hr class="hr" />
            <div class="status-title">Price detail</div>
            <div class="price-detail">
                <div class="price-detail-cost">
                    <div class="x">Reservation cost <span>(x2)</span></div>
                    <div class="price-value">Rp400.000,00</div>
                </div>
                <div class="price-detail-tax">
                    <div class="x">Tax (10%)</div>
                    <div class="price-value">Rp40.000,00</div>
                </div>
            </div>
            <hr class="hr" />

            <div class="total">
                Total
                <div class="total-price">Rp440.000,00</div>
            </div>
            <a href="thank-you.html" class="button button-primary"
                >Confirm reservation</a
            >
            <a href="reservation-seat.html" class="button button-secondary"
                >Back to seat selection</a
            >
        </div>

        <div data-page="footer"></div>
    </body>
</html>
