@import "style.css";

body {
    --green: #8beb73;
    --red: #ec493f;
    --seat-box-size: 35px;
}

.seat-guide {
    display: flex;
}

.seat-column {
    flex: 50%;
}

.seat-column > div {
    display: flex;
}

.seat-box,
.sb {
    width: var(--seat-box-size);
    height: var(--seat-box-size);
    line-height: var(--seat-box-size);
}

.seat-box-available,
.sba {
    background-color: var(--green);
}

.seat-box-taken,
.sbt {
    background-color: var(--red);
    color: white;
}

.seat-text {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.seat-box-person {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.seat-bottom {
    margin-top: 15px;
}

/* Seat Selection */

.seat-selection {
    margin: 30px 0;
    padding: 20px 20px 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: var(--bradius);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

.seat-row {
    display: flex;
}

.seat-selection .sb {
    margin: 0 15px 15px 0;
}

.seat-selection :not(.seat-row-bottom) .sb:nth-of-type(1) {
    margin-right: calc(var(--seat-box-size) + 30px);
}
.seat-selection :not(.seat-row-bottom) .sb:nth-of-type(2) {
    margin-right: calc(var(--seat-box-size) + 30px);
}
.seat-selection .seat-row-bottom {
    margin-top: 40px;
}

.sba:hover {
    transition: 0.3s;
    transform: scale(1.2);
    opacity: 0.9;
    cursor: pointer;
}

.seat-status {
    margin-bottom: 30px;
    line-height: 1.5;
}

#seat-count,
#seat-price {
    color: var(--orange1);
    font-weight: bold;
}
