<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SUSHEE</title>

        <link rel="stylesheet" href="style.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>

    <body>
        <div data-page="header"></div>

        <div class="banner banner-big">Take your reservation date</div>
        <div class="content">
            <label class="x"
                >Reservation Date
                <input type="date" id="reservation-date" class="input-text" />
            </label>
            <label class="x"
                >Reservation Time
                <input type="time" id="reservation-time" class="input-text" />
            </label>
            <a href="reservation-seat.html" class="button button-primary"
                >Confirm date and time</a
            >
            <a href="homepage.html" class="button secondary"
                >Back to menu selection</a
            >
        </div>

        <div data-page="footer"></div>
    </body>
</html>
