<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SUSHEE</title>

        <link rel="stylesheet" href="reservation.css" />
        <link rel="stylesheet" href="menu.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>

    <body>
        <div data-page="header"></div>

        <div class="banner banner-big">Reservation</div>
        <div class="barcode">
            <a href="queue.html">
                <img src="qr.png" alt="qr" class="qr" />
            </a>
            <div class="barcode barcode-right">
                <h4>Valid until:</h4>
                <p>Sunday, 14 Feb 2021</p>
                <p>18.00 WIB</p>
                <p>Reserved for Avi</p>
            </div>
        </div>
        <div class="banner banner-small">
            You have an active reservation. Please scan the barcode above and
            sit on the reserved table. You can start ordering after the barcode
            are validated
        </div>

        <div class="content">
            <div id="menu"></div>
        </div>

        <script src="menu.js"></script>

        <div data-page="footer"></div>
    </body>
</html>
