<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SUSHEE</title>

        <link rel="stylesheet" href="style.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>

    <body>
        <div data-page="header"></div>

        <p class="banner banner-big">Register New Account</p>
        <div class="content">
            <label class="x"
                >Email
                <input
                    type="text"
                    id="email"
                    placeholder="Email"
                    class="input-text"
                    required
                />
            </label>
            <label class="x"
                >Password
                <span style="font-size: 0.8rem; color: #444"
                    >(min 8 alphanumeric characters)</span
                >
                <input
                    type="password"
                    id="password"
                    placeholder="Password"
                    class="input-text"
                    required
                />
            </label>
            <label class="x"
                >Confirm password
                <input
                    type="password"
                    id="password"
                    placeholder="Confirm password"
                    class="input-text"
                    required
                />
            </label>
            <a href="homepage.html" class="button button-primary">Sign up</a>
            <p class="x">Already have an account?</p>
            <a href="login.html" class="button button-secondary">Log in</a>
        </div>

        <div data-page="footer"></div>
    </body>
</html>
