<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        />

        <title>SUSHEE</title>
    </head>
    <body>
        <nav>
            <img src="./SUSHEE.png" alt="logo" class="logo" />

            <ul>
                <li><a href="#" class="">Home</a></li>
                <li><a href="#">Reservation</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>

        <p class="banner big">Register</p>
        <div class="content">
            <label class="x"
                >Email
                <input type="text" id="email" placeholder="Email" />
            </label>
            <label class="x"
                >Password
                <input type="password" id="password" placeholder="Password" />
            </label>
            <label class="x"
                >Confirm password
                <input
                    type="password"
                    id="password"
                    placeholder="Confirm password"
                />
            </label>
            <a href="homepage.html" class="button primary">Sign up</a>
            <p class="x">Already have an account?</p>
            <a href="login.html" class="button secondary">Log in</a>
        </div>
    </body>
</html>
