* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    max-width: 600px;
    /* overflow-x: hidden; */
    --orange1: #ec493f;
}

body {
    font-family: Roboto;
}

.content {
    margin: 1.5rem;
    overflow-y: scroll;
}

.banner {
    background-color: var(--orange1);
    color: white;
    text-align: center;
    padding: 1.2rem;
    width: 100%;
}

.banner.big {
    font-size: 1.25rem; /* 20px */
    font-style: thin;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    display: block;
    width: 100%;
    border: 2px solid var(--orange1);
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}

.button:first-of-type {
    margin: 15px 0;
}

.button.primary {
    background-color: var(--orange1);
    color: white;
}

.button.secondary {
    background-color: white;
    color: var(--orange1);
}

.barcode {
    display: flex;
    justify-content: center;
    margin-right: 3%;
}

.column {
    flex-direction: column;
    margin-left: 3%;
}

.image {
    text-align: center;
    margin-top: -70px;
}

.image-c {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.email,
.reservation {
    width: 100%;
    border: 2px solid var(--orange1);
    border-radius: 4px;
    padding: 10px 20px;
}

.email {
    margin: 30px 0 30px;
}

a {
    color: var(--orange1);
}

.reservation {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.column2 {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}

/* .email a {
    display: flex;
    margin-top: 20px;
    justify-content: center;
} */

/* .container { */
/* display: grid; */
/* grid-template-columns: 1fr 1fr 1fr; */
/* grid-template-rows: 0.2fr 1.5fr 1.2fr; */
/* grid-template-areas:
      "nav nav nav"
      "main main main"
      "content1 content2 content3"
      "footer footer footer"; */
/* grid-gap: 0.2rem; */
/* } */

.title {
    font-family: Roboto;
    /* font-style: normal;
    font-weight: italic; */
    /* font-size: 2.5rem; */
    text-align: left;
    margin: 1rem 1.5rem 0.5rem;

    color: var(--orange1);
}

.subtitle {
    font-family: Roboto;
    /* font-style: normal;
    font-weight: 300; */
    font-size: 2rem 1.5rem;
    /* line-height: 28px; */
    margin: 0 1.5rem 0.8rem;

    color: #000000;
}

.menu {
    font-family: Roboto;
    /* font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px; */
    color: var(--orange1);
}

a:hover,
a.active {
    color: var(--orange1);
}
