@import "style.css";

.thank-you-text {
    line-height: var(--line-height);
    margin-bottom: 40px;
}
#thank-you {
    display: block;
    margin: 30px auto 40px;
    width: 39%;
    height: 30%;
}
