<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SUSHEE</title>

        <link rel="stylesheet" href="style.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(function () {
                var pages = $("[data-page]");
                $.each(pages, function () {
                    var file = $(this).data("page") + ".html";
                    $(this).load(file);
                });
            });
        </script>
    </head>

    <body>
        <div data-page="header"></div>

        <p class="banner big">Thanks for your purchase!</p>
        <div class="content">
            <label class="x">
                You will get the QR Code after we approve your reservation.
                Please check your profile page to see your reservation status.
            </label>

            <a href="homepage.html" class="button primary">Go to homepage</a>
        </div>

        <div id="content1"></div>
        <script src="food.js"></script>

        <div data-page="footer"></div>
    </body>
</html>
