<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap"
        />

        <title>SUSHEE</title>
    </head>
    <body>
        <!-- <div class="container"> -->
        <nav>
            <img src="./SUSHEE.png" alt="logo" class="logo" />

            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Reservation</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>

        <p class="banner big">Thanks for your purchase!</p>
        <div class="content">
            <label class="x">
                We will immediately process your reservation. You'll get the QR
                Code after we approve your reservation. Plase check your profile
                page to see your reservation status.
            </label>

            <a href="homepage.html" class="button primary">Go to homepage</a>
        </div>

        <div id="content1"></div>
        <script src="food.js"></script>
        <!-- </div> -->
    </body>
</html>
